{{- define "main" }}

<header class="page-header fade-in">
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
<img class="avatar fade-in"  src="/avatar/avatar.jpg" alt="avatar.jpg" title="avatar.jpg" />
<section class="typewritter">
    <br>
    {{ .Content }}
</section>
<script>
    // 打字机动画
    let animelement_p = document.querySelectorAll('.typewritter p')
    for (var elem of animelement_p){
        elem.style.setProperty('--len', `${elem.textContent.length}`)
    }
</script>

{{- end }}{{/* end main */}}