{{- define "main" }}
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
<style>

    .exam-intro{
        text-align: center;
        font-size: 2.5rem;
        color: var(--logo);
        margin-top: 30px;
        border-bottom: 1.5px solid var(--primary);
    }

    .exam-start{
        position: absolute;
        margin: auto;
        inset: 0;
        font-size: 2rem;
        width: fit-content;
        height: fit-content;
        -webkit-box-reflect:below 2px linear-gradient(transparent, rgba(0, 0, 0, .5));
    }
    .exam-container{
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 15vh;left: 0;
        width: 900vw;
        height: max-content;
        pointer-events: none;
    }
    body{
        overflow-x: hidden;
    }
    .exam-question{
        position: relative;
        top: 0;bottom: 0;
        width: 80vw;
        display: block;
    }
    .exam-description{
        text-indent: 2rem;
        color: var(--primary);
    }
    .exam-option{
        margin-top: 20px;
        list-style-type: none;
        line-height: 50px;
    }
    .exam-choice{
        margin-top:25px;
    }
    .exam-button{
        margin-right: 10px;
        transition: .2s linear;
        pointer-events: all;
        width: 2rem;
        height: 2rem;
        border: 2px solid var(--primary);

    }
    .exam-button:hover{
        color:var(--theme);
        background-color:var(--primary);
    }
    .exam-switch{
        position: relative;
        top:15px;
    }
    .exam-prev{
        margin-right: 30px;
    }
    .exam-end{
        margin-top:30px;
        border: 1.5px solid var(--primary);
        pointer-events: all;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: .5s ease;
    }
    .exam-end:hover{
        box-shadow: var(--link) 0px 0px 100px 0px inset;
        color: var(--theme);
        border-color: var(--primary);
    }
    .exam-answer{
        margin-top:20px;
        white-space: pre-wrap;
    }
</style>

<div class="exam-intro">你绝对无法全做对的九道易错题</div>

<button class="exam-start">
    开始自测
</button>

<div class="exam-switch">
    <button class="exam-prev">|<上一题</button>
    <button class="exam-next">下一题>|</button>
</div>

<div class="exam-container">

    <div class="exam-question">
        <span class="exam-description">
            已知集合 $A = \{x|-1\leq x\leq 2\}$，$B = \{a \leq x \leq 2a+4\}$，若 $B\subsetneqq A$，则实数 $a$ 的取值范围是 $(\qquad\quad)$.    
        </span>
        <ul class="exam-option">
            <li>$A.$ $(-\infty,-4) \cup (-1, 1]$</li>
            <li>$B.$ $[-1,1]$</li>
            <li>$C.$ $(-1,1]$</li>
            <li>$D.$ $(-\infty, 1]$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$A.$
易错点：1.注意是真包含，因此 $a = -1$ 需要排除；2.遗漏了 $B$ 为空集的情况。       
        </div>
    </div>

    <div class="exam-question">
        <span class="exam-description">已知 $\boldsymbol{a} = (1,2)$，$\boldsymbol{b} = (x,-4)$，若 $\boldsymbol{a}$ 与 $\boldsymbol{b}$ 的夹角是钝角，则实数 $x$ 的取值范围是 $(\qquad\quad)$.</span>
        <ul class="exam-option">
            <li>$A.$ $(-\infty, 8)$</li>
            <li>$B.$ $(-\infty, 2) \cup (2, 8)$</li>
            <li>$C.$ $(-\infty, -2) \cup (-2, 8)$</li>
            <li>$D.$ $(-\infty, 8]$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$C.$
易错点：两个向量反向平行的情况需要排除。       
        </div>
    </div>

    <div class="exam-question">
        <span class="exam-description">过点 $(0,1)$ 且与抛物线 $y^2 = 2x$ 有且仅有一个公共点的直线有 $(\qquad\quad)$ 条. </span>
        <ul class="exam-option">
            <li>$A.$ $0$</li>
            <li>$B.$ $1$</li>
            <li>$C.$ $2$</li>
            <li>$D.$ $3$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$D.$
易错点：遗漏了直线平行于 $x$ 轴的情况。       
        </div>
    </div>

    <div class="exam-question">
        <span class="exam-description">函数 $f(x) = \frac{2\tan x}{1-\tan^2 x}$ 的最小正周期为 $(\qquad\quad)$. </span>
        <ul class="exam-option">
            <li>$A.$ $\frac{\pi}{2}$</li>
            <li>$B.$ $\pi$</li>
            <li>$C.$ $2\pi$</li>
            <li>$D.$ $4\pi$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$B.$
易错点：注意定义域。                 
        </div>
    </div>

    <div class="exam-question">
        <span class="exam-description">已知对任意实数 $x\in[0,2]$，均有 $|2x-a|\geq x - 1$ 成立，则 $a$ 的取值范围是 $(\qquad\quad)$. </span>
        <ul class="exam-option">
            <li>$A.$ $(1,+\infty)$</li>
            <li>$B.$ $(-\infty, 2)$</li>
            <li>$C.$ $[1,2]$</li>
            <li>$D.$ $(-\infty, 2]$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$D.$
易错点：直接作出 $|2x-a|$ 和 $x-1$ 的图像观察即可，不要去掉绝对值变成 $2x-a\geq x-1$ 或 $2x-a\leq 1-x$，这样容易犯“取等条件不一致”的错误，因为去掉绝对值变成 $2x-a\geq x-1$ 恒成立的前提条件是 $x\geq \frac{a}{2}$，那么转换成 $a\leq x + 1$ 恒成立时，就不能把 $x=1$ 代入了。
        </div>
    </div>

    <div class="exam-question">
        <span class="exam-description">函数 $f(x)$ 是定义在 $\mathbb{R}$  上的奇函数，周期为 $3$，$f(2)=0$，则 $f(x)$ 在 $[-3,3]$ 上的零点个数最少为 $(\qquad\quad)$ .</span>
        <ul class="exam-option">
            <li>$A.$ $6$</li>
            <li>$B.$ $7$</li>
            <li>$C.$ $12$</li>
            <li>$D.$ $13$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
<div class="exam-answer">
答案：$D.$
易错点：求出对称轴，利用对称轴和对称中心来分析零点个数，不要用周期。       
</div>
    </div>

    <div class="exam-question">
        <span class="exam-description">已知函数 $f(x) = 2\cos(\omega x + \frac{\pi}{6})$ ，$x\in[-\pi, 0]$，若 $f(x)$ 恰有三个极值点，则正实数 $\omega$ 的取值范围是 $(\quad)$ .</span>
        <ul class="exam-option">
            <li>$A.$ $[\frac{8}{3}, \frac{11}{3})$</li>
            <li>$B.$ $(\frac{8}{3}, \frac{11}{3}]$</li>
            <li>$C.$ $[\frac{13}{6}, \frac{19}{6})$</li>
            <li>$D.$ $(\frac{13}{6}, \frac{19}{6}]$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
<div class="exam-answer">
答案：$D.$
易错点：根据课本的定义，极值需要大于或小于其两边的函数值，所以极值点不能是区间端点，故 $-3\pi \leq -\omega\pi + \frac{\pi}{6} < -2\pi$。       
</div>
    </div>

    <div class="exam-question">
        <span class="exam-description">若直线 $x + 2ay - 1 = 0$ 与直线 $(3a-1)x - ay - 1 = 0$ 平行，则 $a = (\qquad\quad)$.</span>
        <ul class="exam-option">
            <li>$A.$ $0$</li>
            <li>$B.$ $0$ 或 $\frac{1}{6}$</li>
            <li>$C.$ $1$</li>
            <li>$D.$ $\frac{-3\pm\sqrt{17}}{4}$</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
<div class="exam-answer">
答案：$B.$
易错点：遗漏了直线垂直 $x$ 轴的情况。       
</div>
    </div>

    <div class="exam-question">
        <span class="exam-description">函数 $f(x) = (x-1)\sqrt{\frac{1+x}{1-x}}$ 的奇偶性为 $(\qquad\quad)$</span>
        <ul class="exam-option">
            <li>$A.$ 奇函数</li>
            <li>$B.$ 偶函数</li>
            <li>$C.$ 非奇非偶函数函数</li>
            <li>$D.$ 既是奇函数也是偶函数</li>
        </ul>
        <div class="exam-choice">
            <button class="exam-button" style="--i:0;">$A$</button>
            <button class="exam-button" style="--i:1;">$B$</button>
            <button class="exam-button" style="--i:2;">$C$</button>
            <button class="exam-button" style="--i:3;">$D$</button>
        </div>
        <div class="exam-answer">
答案：$C.$
易错点：函数的定义域是 $[-1,1)$，不关于 $x$ 轴对称，因此非奇非偶。              
        </div>
        <div class="exam-end">提交</div>
    </div>  
</div>


<script type="text/javascript">
    function check_each_answer(your_ans, real_ans){
        if (your_ans.length !== real_ans.length)
            return 0
        for (var ans of real_ans){
            if (your_ans.indexOf(ans) === -1)
                return 0
        }
        return 1
    }

    function check_answer(your_ans_list, real_ans_list){
        var credit = 0
        for (let i = 0; i < real_ans_list.length; ++i){
            credit += check_each_answer(your_ans_list[i], real_ans_list[i])
        }
        return credit
    }

    let index = 0
    let choices = [
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        []
    ]
    let answers = [
        [0],
        [2],
        [3],
        [1],
        [3],
        [3],
        [3],
        [1],
        [2]
    ]

    let exam_start = document.querySelector('.exam-start')
    let exam_container = document.querySelector('.exam-container')
    let exam_questions = document.querySelectorAll('.exam-question')
    let exam_buttons = document.querySelectorAll('.exam-button')
    let exam_switch = document.querySelector('.exam-switch')
    let exam_prev_btn = document.querySelector('.exam-prev')
    let exam_next_btn = document.querySelector('.exam-next')
    let exam_choices = document.querySelectorAll('.exam-choice')
    let exam_end = document.querySelector('.exam-end')
    let exam_answers = document.querySelectorAll('.exam-answer')


    exam_switch.style.display = 'none'
    exam_container.style.display = 'none'

    exam_start.addEventListener('click', e=>{
        exam_start.style.display = 'none'
        exam_container.style.display = 'flex'
        exam_switch.style.display = 'block'
    })

    exam_end.addEventListener('click', e=>{
        let credit = check_answer(choices, answers)
        if (credit === answers.length)
            alert('全对!!!太强了!!!')
        else
            alert(`你错了${answers.length - credit}道题目!!!`)
        for (var answer of exam_answers){
            answer.style.display = 'block'
        }
    })

    for (var answer of exam_answers){
        answer.style.display = 'none'
    }

    exam_prev_btn.disabled = true
    exam_prev_btn.style.opacity = '0.5'
    exam_prev_btn.addEventListener('click', e=>{
        if(index > 0){
            index--;
            if (index == 0){
                exam_prev_btn.disabled = true
                exam_prev_btn.style.opacity = '0.5'
            }
            if (index == 7){
                 exam_next_btn.disabled = false
                exam_next_btn.style.opacity = '1'
            }
            let offset = exam_questions[index+1].offsetLeft - exam_questions[index].offsetLeft
            gsap.to(exam_container, {
                x: -offset * index,
                duration: 0.5,
            })
            
        }
    })

    exam_next_btn.addEventListener('click', e=>{
        if(index < 8){
            index++;
            if (index == 1){
                exam_prev_btn.disabled = false
                exam_prev_btn.style.opacity = '1'
            }
            if (index == 8){
                exam_next_btn.disabled = true
                exam_next_btn.style.opacity = '0.5'
            }
            let offset = exam_questions[index].offsetLeft - exam_questions[index-1].offsetLeft
            gsap.to(exam_container, {
                x: -offset * index,
                duration: 0.5,
            })
        }
    })

    for (var button of exam_buttons){
        let have_button = button
        button.addEventListener('click', e=>{ 
            var pos = +have_button.style.getPropertyValue('--i')
            var find_pos = choices[index].indexOf(pos)
            if (find_pos !== -1){
                choices[index].splice(find_pos, 1)
                have_button.style.setProperty('border-radius', '0%')
                have_button.style.setProperty('color', 'var(--primary)')
                have_button.style.setProperty('background', 'var(--theme)')
            }
            else{
                choices[index].push(pos)  
                have_button.style.setProperty('border-radius', '50%')
                have_button.style.setProperty('color', 'var(--theme)')
                have_button.style.setProperty('background', 'var(--primary)')
            }
        })
    }




</script>

{{- end }}{{/* end main */}}