{{- define "main"}}
<link
  rel="stylesheet"
  href="https://ustc510.asia/waline/waline.css"
/>
<style>
    .music-container {
        display: grid;
        grid-column: 1;
        gap: 80px;
        width: 200%;
        height: max-content;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .music-card {
        display: flex;
        flex-direction: row;
        height: 200px;
        font-family: monospace;
    }

    .music-cover {
        width: 200px;
        height: 200px;
        box-shadow: 5px 5px 10px 0px black;
    }

    .music-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .strong-text {
        font-size: 1.5rem;
        background-color: var(--primary);
        color: var(--theme);
        font-weight: bold;
    }

    audio {
        height: 30px;
        width: 250px;
    }

    .music-name {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    .music-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #waline{
        transform: translateY(80px);
    }
</style>

<div class="music-container">
    <div class="music-card">
        <img class="music-cover" src="https://ustc510.asia/image/绝对音乐.jpg" />
        <div class="music-content">
            <div class="music-desc">
                <span class="music-name">Arabesque Romanesque</span>
                <br>
                <span>出自<span class="strong-text">絶対音楽</span></span>
            </div>
            <audio controls src="https://ustc510.asia/mp3/Arabesque Romanesque.mp3"></audio>
        </div>
    </div>


    <div class="music-card">
        <img class="music-cover" src="https://ustc510.asia/image/绿野仙踪.jpg" />
        <div class="music-content">
            <div class="music-desc">
                <span class="music-name">地球 (テラ) で</span>
                <br>
                <span>出自<span class="strong-text">Fantasia </span></span>
            </div>
            <audio controls src="https://ustc510.asia/mp3/地球.mp3"></audio>
        </div>
    </div>

    <div class="music-card">
        <img class="music-cover" src="https://ustc510.asia/image/夜紫罗兰.jpg" />
        <div class="music-content">
            <div class="music-desc">
                <span class="music-name">L'Amour Looks Something Like You</span>
                <br>
                <span>出自<span class="strong-text">Violetta Operatta</span></span>
            </div>
            <audio controls src="https://ustc510.asia/mp3/LAmour Looks Something Like You.mp3"></audio>
        </div>
    </div>

    <div class="music-card">
        <img class="music-cover" src="https://ustc510.asia/image/月蚀.jpg" />
        <div class="music-content">
            <div class="music-desc">
                <span class="music-name">月蝕グランギニョル</span>
                <br>
                <span>出自<span class="strong-text">月蚀グランギニョル</span></span>
            </div>
            <audio controls src="https://ustc510.asia/mp3/月蚀.mp3"></audio>
        </div>
    </div>
</div>

<div id="waline"></div>


<script type="module">
     import {init} from "https://ustc510.asia/waline/waline.js"

     init({
        el: '#waline',
        serverURL: 'https://ustc510.asia',   
        dark: 'body.dark',
        texRenderer: (blockMode, tex) =>
          window.MathJax.startup.adaptor.outerHTML(
            window.MathJax.tex2svg(tex, {
              display: blockMode,
            }),
          ),
    });
</script>



{{- end}}