{{- define "main"}}
<link
  rel="stylesheet"
  href="https://ustc510.asia/waline/waline.css"
/>
<style>
    .music-container {
        display: grid;
        grid-column: 1;
        gap: 80px;
        width: 200%;
        height: max-content;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .music-card {
        display: flex;
        flex-direction: row;
        height: 200px;
        font-family: monospace;
    }

    .music-cover {
        width: 200px;
        height: 200px;
        box-shadow: 5px 5px 10px 0px black;
    }

    .music-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .strong-text {
        font-size: 1.5rem;
        background-color: var(--primary);
        color: var(--theme);
        font-weight: bold;
    }

    audio {
        height: 30px;
        width: 250px;
    }

    .music-name {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    .music-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #waline{
        transform: translateY(80px);
    }
</style>

<div class="music-container"></div>
<div id="waline"></div>


<script type="module">
    import {init} from "https://ustc510.asia/waline/waline.js"
    
    //在这里添加新的音乐
    let musics = [
        {
            cover: "https://ustc510.asia/image/绝对音乐.jpg",
            name: "Arabesque Romanesque",
            album: "絶対音楽",
            src: "https://ustc510.asia/mp3/Arabesque Romanesque.mp3"
        },
        {
            cover:"https://ustc510.asia/image/月蚀.jpg",
            name: "月蝕グランギニョル",
            album: "月蚀グランギニョル",
            src: "https://ustc510.asia/mp3/月蚀.mp3"
        },
        {
            cover: "https://ustc510.asia/image/绿野仙踪.jpg",
            name: "地球 (テラ) で",
            album: "Fantasia",
            src: "https://ustc510.asia/mp3/地球.mp3"
        },
        {
            cover:"https://ustc510.asia/image/夜紫罗兰.jpg",
            name: "L'Amour Looks Something Like You",
            album: "Violetta Operatta",
            src: "https://ustc510.asia/mp3/LAmour Looks Something Like You.mp3"
        },
        {
            cover: "https://ustc510.asia/image/九日.jpg",
            name: "神农氏",
            album: "九日 Nine sols",
            src: "https://ustc510.asia/mp3/神农氏.mp3"
        }
    ]

    let container = document.querySelector('.music-container')

    document.addEventListener('DOMContentLoaded',e=>{
        for (let item of musics){
            let card = document.createElement('div')
            card.classList.add('music-card')
            card.innerHTML = `
                <img class="music-cover" src="${item.cover}"/>
                <div class="music-content">
                <div class="music-desc">
                <span class="music-name">${item.name}</span>
                <br>
                <span>出自<span class="strong-text">${item.album}</span></span>
                </div>
                <audio controls src="${item.src}"></audio>
                </div>
            `
            container.appendChild(card)

            init({
                el: '#waline',
                serverURL: 'https://ustc510.asia',   
                dark: 'body.dark',
                texRenderer: (blockMode, tex) =>
                  window.MathJax.startup.adaptor.outerHTML(
                    window.MathJax.tex2svg(tex, {
                      display: blockMode,
                    }),
                  ),
            });
        }
    })
</script>



{{- end}}